// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
}

.hi {
	background: #445162;
	padding: 50px 0;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__body {
		color: white;
		padding: 0px 30px 0px 0px;
	}

	&__title {
		font-size: 60px;
		line-height: 1.2;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
		margin-bottom: 38px;
	}

	&__image {}
}

.container {
	max-width: 1180px;
	margin: 0px auto;
}

.hi__list {
	& li{
		background: url("../img/check_icon_346.png") 0 1px  no-repeat;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
		font-style: 20px;
		padding: 0px 0px 0px 36px;
		line-height: 22px;
		margin: 0px 0px 15px 0px;
		}
	& li:last-child{
		margin: 0;
	}	
}

.footer {
	background: #f5f5f5;

	&__row {
		display: flex;
		height: 65px;
		justify-content: center;
		align-items: center;
	}

	&__text {
		font-size: 12px;
		line-height: 24px;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #445162;
	}
}
.what {
	padding: 50px 0;
	&__row {
		display: flex; 	
	 }
	&__image { 
		flex: 0 0 430px;
	}
	&__body { 
		flex: 1 1 auto;
		margin: 0px 0px 0px 38px;
	}
	&__title { 
		margin: 0px 0px 33px 0px;
	}
	&__text { 
		

	}
	&__text p{
		margin: 0px 0px 25px 0px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color: #333333;
	}

}
.container { }
.title {
font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
 }